:root {
    --font-family-inter: "Inter", sans-serif;
    --font-family-Poppins: "Poppins", sans-serif;

    --color-white: #fff;
    --color-black: #000;

    --font-color: #050505;
    --font-color2: rgba(0, 0, 0, 0.85);
    --font-color3: rgba(0, 0, 0, 0.25);
    --font-color4: #707070;
    --font-color5: rgba(0, 0, 0, 0.5);
    --font-color6: #191c1f;
    --font-color7: #101010;
    --font-color8: #929292;
    --font-color-error: #ffeb3b;

    --bgcolor: #f5f5f5;
    --bgcolor2: #fff2de;
    --bgcolor-blur: #0000004D;
    --bgcolor-button: #1678c0;
    --bgcolor-button2: #ffc123;

    --border-color: #d0d0d0;
    --border-color2: #313131;
    --border-color3: #0d0d0d;
    --border-input: #0000001A;

    --hover-color-black: #4d4d4d;

    --error-accent-color: #ff6f61;
}